<div class="container">
  <div class="row py-4">
    <div class="col-md-3">
      <%= image_tag @order.products.first.photo, width: '100%' if @order.products.any? %>
    </div>
    <div class="col">
      <h1>Checkout Summary</h1>
      <p>
        Purchasing <strong><%= @order.products.first.name if @order.products.any? %></strong>
        for <strong><%= humanized_money_with_symbol @order.amount %></strong>
      </p>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
